.artist-details-content {
  background: var(--nero2);
  padding: 16px;
  border-radius: 20px;
  margin-top: 8px;
  display: flex;
  gap: 24px;
}

.artist-propic {
  width: 23vw;
  border-radius: 50%;
}

.artist-info-container h1 {
  text-align: center;
}

@media (max-width: 1300px) {
  .artist-propic {
    width: 35vw;
  }
}

@media (max-width: 768px) {
  .artist-details-content {
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  .artist-propic {
    width: 40vw;
  }
}
