.list-section {
  padding: 16px;
  border-radius: 24px;
  background-color: var(--nero2);
  margin-top: 16px;
}

.list-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
}

@media (max-width: 728px) {
  .list-grid {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}
