.album-card-background {
  background-color: var(--nero1);
  padding: 16px;
  border-radius: 12px;
  position: relative;
  height: fit-content;
  flex: 1 1 160px;
  box-sizing: border-box;
}

.image-wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  margin-bottom: 8px;
}

.album-image,
.no-image {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  object-fit: cover;
  display: block;
}

.no-image {
  background: var(--nero2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.album-title {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.album-artist {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 300;
}

.listened-button {
  width: 100%;
  background: var(--verde);
  border: none;
  border-radius: 6px;
  padding: 8px;
  cursor: pointer;
  color: var(--nero2);
  font-size: 15px;
  font-weight: bold;
}

.disabled {
  background: rgb(29, 185, 84, 0.6);
  cursor: auto;
}

.icon-container {
  position: absolute;
  bottom: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  border: none;
  padding: 6px;
  background: rgba(30, 30, 30, 0.6);
  backdrop-filter: blur(5px);
  cursor: pointer;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.icon {
  height: 28px;
}

@media (max-width: 768px) {
  .listened-button {
    font-size: 13px;
  }
}

@media (max-width: 500px) {
  .album-card-background {
    padding: 8px;
  }

  .album-title {
    font-size: 16px;
  }

  .album-artist {
    font-size: 12px;
  }

  .listened-button {
    font-size: 11px;
  }
}
