.album-card-background {
  background-color: var(--nero1);
  padding: 16px;
  border-radius: 12px;
  position: relative;
  height: fit-content;
  max-width: 207px;
}

.album-image {
  width: 207px;
  border-radius: 6px;
  margin-bottom: 8px;
  position: relative;
  display: block;
}

.no-image {
  background: var(--nero2);
  border-radius: 6px;
  height: 207px;
  width: 207px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin-bottom: 8px;
}

.album-title {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.album-artist {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 300;
}

.listened-button {
  width: 100%;
  background: var(--verde);
  border: none;
  border-radius: 6px;
  padding: 8px;
  cursor: pointer;
  color: var(--nero2);
  font-size: 16px;
  font-weight: bold;
}

.disabled {
  background: rgb(29, 185, 84, 0.6);
  cursor: auto;
}

.icon-container {
  position: absolute;
  top: 167px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  border: none;
  padding: 6px;
  background: rgba(30, 30, 30, 0.6);
  backdrop-filter: blur(5px);
  cursor: pointer;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.icon {
  width: 27px;
}
