nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: rgba(19, 19, 19);
  backdrop-filter: blur(5px);
  height: 96px;
  padding: 0 32px;
  z-index: 3;
  box-sizing: border-box;
}

.translucent {
  background: rgba(30, 30, 30, 0.6);
}

.logo {
  width: 44px;
  margin-right: 16px;
}

.nav-ul {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 0;
}

.avatar {
  width: 60px;
  height: 60px;
  background: var(--verde);
  font-size: 24px;
  font-weight: bold;
  color: var(--nero1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  margin: 0 auto;
  cursor: pointer;
}

.search-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  z-index: 1;
}

.search-input {
  width: 600px;
  height: 44px;
  padding-top: 0;
  padding-bottom: 0;
  background: var(--nero1);
  border: 1px solid var(--grigio2);
  border-radius: 300px;
  text-align: center;
}

.search-input::placeholder {
  color: var(--grigio1);
  font-size: 20px;
}

.search-results {
  position: absolute;
  top: 100%;
  z-index: 2;
  background: var(--nero1);
  overflow: auto;
  max-height: 400px;
  border-radius: 8px;
}

.search-results-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.search-results-content {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px;
}

.search-result-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 4px;
}

.search-result-info {
  flex: 1;
}

.search-result-title {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
}

.search-result-artist {
  margin: 4px 0 0;
  font-size: 12px;
  color: #888;
}
