.full-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: rgba(19, 19, 19);
  height: 96px;
  padding: 0 32px;
  z-index: 6;
  box-sizing: border-box;
}

.mobile-nav {
  display: none;
}

.translucent {
  background: rgba(19, 19, 19, 0.6);
  backdrop-filter: blur(15px);
}

.logo {
  width: 44px;
  margin-right: 16px;
}

.nav-ul {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 0;
}

.avatar {
  width: 60px;
  height: 60px;
  background: var(--verde);
  font-size: 24px;
  font-weight: bold;
  color: var(--nero1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  cursor: pointer;
}

.search-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  z-index: 4;
}

.search-wrapper {
  position: relative;
  width: 500px;
}

.search-input {
  width: 100%;
  height: 44px;
  padding-left: 48px;
  background: var(--nero1);
  border: 1px solid var(--grigio2);
  border-radius: 300px;
  text-align: left;
  box-sizing: border-box;
  font-size: 16px;
}

.search-input::placeholder {
  color: var(--grigio1);
  font-size: 16px;
}

.search-icon-inside {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  height: 20px;
  width: 20px;
  pointer-events: none;
  opacity: 0.6;
}

.close-icon-inside {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  height: 20px;
  width: 20px;
  cursor: pointer;
  opacity: 0.6;
}

.search-toggle-section {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 16px;
}

.select-button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  color: var(--nero);
  cursor: pointer;
}

.select-button.active {
  background: var(--verde);
}

.search-results {
  position: fixed;
  top: 72px;
  left: 50%;
  transform: translateX(-50%);
  width: 500px;
  z-index: 7; /* Above the nav */
  max-height: 500px;
  border-radius: 22px;
  margin: 0;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  background: rgba(30, 30, 30, 0.6);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  isolation: isolate;
}

.search-results-list::-webkit-scrollbar {
  display: none;
}

.search-results-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  max-width: 500px;
  width: 100%;
}

.search-results-content {
  padding: 16px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.search-result-image {
  width: 125px;
  height: 125px;
  object-fit: cover;
  border-radius: 11px;
}

.search-result-info {
  min-width: 0;
}

.search-result-title {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}

.search-result-artist {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 300;
}

.search-result-buttons {
  display: flex;
  align-items: center;
  gap: 8px;
}

.button-icon {
  all: unset;
  cursor: pointer;
}

.search-icon {
  height: 24px;
}

.divisor {
  margin: 0 16px;
  border: none;
  border-top: solid 2px var(--grigio2);
}

li:last-child .divisor {
  display: none;
}

.avatar-logo {
  width: 20px;
  filter: brightness(15%);
}

@media (max-width: 1300px) {
  .search-container {
    position: relative;
    left: unset;
    transform: unset;
    width: 100%;
    margin-left: 32px;
  }

  .search-wrapper {
    width: 100%;
    margin-right: 32px;
  }

  .search-input {
    width: 100%;
    box-sizing: border-box;
  }

  .search-results {
    position: fixed;
    top: 72px;
    left: 263.33px;
    right: 107px;
    transform: unset;
    width: auto;
  }

  .search-result-title {
    width: 100%;
    max-width: calc(100%);
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
  }
}

@media (max-width: 768px) {
  .full-nav {
    display: none;
  }

  .desktop-results {
    display: none;
  }

  .mobile-nav {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: rgba(19, 19, 19, 0.6);
    backdrop-filter: blur(15px);
    height: fit-content;
    padding: 0 32px;
    z-index: 3;
    box-sizing: border-box;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .nav-ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .nav-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: none;
    border: 0;
  }

  .nav-button:hover {
    color: var(--verde);
  }

  .nav-icon {
    height: 24px;
    margin-bottom: 4px;
    font-size: 36px;
    color: var(--verde);
  }

  .nav-button .subtitle {
    margin-bottom: 0;
  }

  .avatar {
    width: 24px;
    height: 24px;
    font-size: 12px;
    margin-bottom: 4px;
  }

  .search-container {
    margin: unset;
    position: fixed;
    top: 16px;
    left: 50%;

    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 32px);
    z-index: 4;
  }

  .search-wrapper {
    margin-right: 0;
  }

  .search-results {
    top: 44px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-height: calc(100vh - 221px);
  }

  .search-results-list {
    max-width: 100%;
  }
}
