:root {
  font-family: "Inter", sans-serif;

  color-scheme: light dark;
  color: var(--bianco);
  background-color: var(--nero1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bianco: #ffffff;
  --nero1: #1e1e1e;
  --nero2: #131313;
  --grigio1: #b3b3b3;
  --grigio2: #535353;
  --verde: #1db954;
}

body {
  margin: 0;
  padding: 0;
}

.page-container {
  padding: 96px 16px 16px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--bianco);
  font-weight: bold;
  transition: 0.3s;
}

a:hover {
  color: var(--verde);
}

.title {
  font-size: 32px;
  font-weight: bold;
  margin-left: 16px;
  margin-bottom: 16px;
}

.subtitle {
  margin-bottom: 16px;
  margin-top: 0;
  font-size: 24px;
  font-weight: bold;
}

@media (prefers-color-scheme: light) {
}

@media (max-width: 768px) {
  .page-container {
    padding: 16px 16px 16px;
  }
}

@media (max-width: 500px) {
  .title {
    font-size: 18px;
  }

  .subtitle {
    font-size: 16px;
  }
}
